src/main/mule/cicd_practice_project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="986c8230-97fe-4c81-9b92-57d18c626a5f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd_practice_projectFlow" doc:id="e3d63e3a-c3a8-4ac6-9757-5cd4f520ce39" >
		<http:listener doc:name="Listener" doc:id="86e17996-d60e-4e1f-bf14-fedd6d2183ea" config-ref="HTTP_Listener_config" path="/cicd" allowedMethods="POST"/>
		<set-payload value="Started successfully" doc:name="Set Payload" doc:id="48beaf13-9dd3-4086-9279-94a693a74403" />
		<logger level="INFO" doc:name="Logger" doc:id="a32c19de-9d42-4536-9586-85499ba00f78" message="#[payload]"/>
	</flow>
</mule>
